@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<head>
    <title>Delete Topic</title>
    <link href="~/css/DeleteTopic.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <video autoplay muted loop>
            <source src="~/Images/video.mp4" typeof="video/mp4"/>
        </video>
        <h2>Delete topics</h2>
        <p>Start by adding topics id number</p>
    </div>
    <div class="inputId">
        <form>
            <label for="idNum">ID: </label>
            <input type="text" id="idNum" name="idNum">
        </form>
    </div>
    <div class="bubbles">
        <img src="~/Images/book.png" />
        <img src="~/Images/pencil.png" />
        <img src="~/Images/stapler.png" />
        <img src="~/Images/schoolBag.png" />
        <img src="~/Images/pencil.png" />
        <img src="~/Images/stapler.png" />
        <img src="~/Images/schoolBag.png" />
    </div>
</body>