@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<head>
    <title>Learning Diary</title>
    <link href="css/Home.css" rel="stylesheet">
    <script src="~/js/Home.js" defer></script>
</head>
<body>
    <div class="header">
        <h1>Learning<span>Diary</span></h1>
        <div class="add">
            <button class="inpBtn" type="button">Get Started</button>
        </div>
            <div class="whenClicked"></div>
            <div class="instBtn">
                <p>This is place to start! Here you can add brand new learning topic to your list!</p>
                <button class="instBtn1" type="button">Ok</button>
            </div>

            <div class="instBtn2">
                <p>Here you can search topics that you have added!</p>
                <button class="instBtn1" type="button">Ok</button>
            </div>

            <div class="instBtn3">
                <p>If you would like to make changes to your topics, here you can edit your creations.</p>
                <button class="instBtn1" type="button">Ok</button>
            </div>

            <div class="instBtn4">
                <p>Do you wanna delete one of your topics? No worries you can do it in here!</p>
                <button class="instBtn1" type="button">Ok</button>
            </div>


        <video autoplay muted loop id="learnVideo">
            <source src="~/Images/Pexels Videos 1580507.mp4">
        </video>
    </div>
    <div class="info">
        <img src="~/Images/education.png" />
        <div class="content">
            <h1>Follow your learning process!</h1>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
    </div>
    <div class="info right">
        <img src="~/Images/keepTrack.png" />
        <div class="content">
            <h1>Search your on going studies!!</h1>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        </div>
    </div>
    <div class="info">
        <img src="~/Images/best-seller.png" />
        <div class="content">
            <h1>Get access for premium features with only 12.99$/month!</h1>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
    </div>
</body>