

<!DOCTYPE html>
<head>
    <title>Search Topic</title>
    <link href="~/css/SearchTopic.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h1>Search topics</h1>
        <p>Start by adding topics id number</p>
    </div>
    <div class="inputId">
        <form>
            <label for="idNum">ID: </label>
            <input type="text" id="idNum" name="idNum">

            <div class="submit">
                <input type="submit" name="submit" />
            </div>
        </form>
    </div>
</body>
<script>

</script>