@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap');

* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Edu NSW ACT Foundation', cursive;
}

.inputForm {
    border: 0.1px solid;
    border-radius: 5px;
    margin: 8em;
    margin-left: 30em;
    margin-right: 30em;
    /*background: linear-gradient(90deg, rgba(217,217,217,0.7906512946975666) 81%, rgba(190,190,190,1) 100%);*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
}

.header h1 {
    color: aqua;
}

.inputId {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
    z-index: 3;
}

.inputId div {
    margin-top: 20px;
}

form input{
    width: 200px;
    height: 20px;
    z-index: 3;
    border: 2px solid;
    border-radius: 10px;
}

.inputId input:hover{
    background-color: lightgray;
    cursor: pointer;
}

.submit{
    position: absolute;
    margin-top: 12em;
    margin-left: -15em;
    width: 200px;
    height: 60px;
    border-radius: 50px;
    text-align: center;
}

.submit:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgba(167,167,167,100);
    transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
}

#description{
    width: 200px;
    height: 100px;
}

#guy{
    z-index: 1;
    position: absolute;
    width: 20em;
    background-color: white;
    margin-top: 45em;
    margin-left: -23em;
}

.back{
    position: absolute;
    margin-left: 45em;
    margin-top: 60px;
}